
.app-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 30vmin;
}

.app-logo-move {
      height: 30vmin;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }